<%= render 'shared/sub_header' %>
<div class="address">
  <div class="address-forms">
    <div class="address-title">
      住所情報編集
    </div>

    <%= form_with model: @address, url: addresses_update_path, class: 'address-form', local: true do |form| %>
      <%= render "devise/shared/error_messages", model: @address %>
      <%= render "shared/address_form", form: form %>

      <div class="actions">
        <%= form.submit "更新" %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/sub_footer' %>
