<%= render 'shared/sub_header' %>
<div class="registration">
  <div class="new-registration-form">
    <div class="registration-title">
      新規登録
    </div>

    <%= form_with model: @user, url: user_registration_path, class: 'regist-form', local: true do |f| %>
      <%= render "devise/shared/error_messages", model: @user %>

      <div class="field">
        <%= f.label :nickname %><br />
        <%= f.text_field :nickname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="next-explanation">
        全て正しく入力したら下記「Next」ボタンを押して住所情報登録へ進んできださい
      </div>

      <div class="actions">
        <%= f.submit "Next" %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/sub_footer' %>

