<header class="main-header">
  <div class="main-title">
    <h1 class="app-name">
      住所英訳アプリ
    </h1>
  </div>
  <div class="main-header-nuv">
    <ul class="header-links">
      <%# ページに対応して表示するリンクを変更 %>
      <% if current_page?(new_user_registration_path) %>
        <li><%= link_to 'トップページ', root_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% elsif current_page?(new_user_session_path) %>
        <li><%= link_to 'トップページ', root_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
      <% elsif current_page?(addresses_path) %>
        <li><%= link_to 'トップページ', root_path %></li>
      <% else %>
        <li><%= link_to 'トップページ', root_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to '退会', user_registration_path, method: :delete, style: "color: red;" %></li>
      <% end %>
      <%# /ページに対応して表示するリンクを変更 %>
    </ul>
  </div>
</header>

  