<h1 class="explanation-right">表示欄に英訳されて表示されます</h1>

<div class="en-addresses">
  <div class="en-field">
    <div class="en-label">Address Line1</div>
    <div class="lower-en-field">
      <div class="en-address" id='en_address_line1'></div>
      <button class="clipboard-btn">
        <%= image_tag 'clipboard_btn_icon.png', alt: 'コピー', class: 'clipboard-btn-icon' %>
      </button>
    </div>
  </div>

  <div class="en-field">
    <div class="en-label">Address Line2</div>
    <div class="lower-en-field">
      <div class="en-address" id='en_address_line2'></div>
      <button class="clipboard-btn">
        <%= image_tag 'clipboard_btn_icon.png', alt: 'コピー', class: 'clipboard-btn-icon' %>
      </button>
    </div>
  </div>

  <div class="en-field">
    <div class="en-label">city</div>
    <div class="lower-en-field">
      <div class="en-address" id='en_city'></div>
      <button class="clipboard-btn">
        <%= image_tag 'clipboard_btn_icon.png', alt: 'コピー', class: 'clipboard-btn-icon' %>
      </button>
    </div>
  </div>

  <div class="en-field">
    <div class="en-label">State/Province/Region</div>
    <div class="lower-en-field">
      <div class="en-address" id='en_state_province_region'></div>
      <button class="clipboard-btn">
        <%= image_tag 'clipboard_btn_icon.png', alt: 'コピー', class: 'clipboard-btn-icon' %>
      </button>
    </div>
  </div>

  <div class="en-field">
    <div class="en-label">ZIP/Postal Code</div>
    <div class="lower-en-field">
      <div class="en-address" id='en_postal_code'></div>
      <button class="clipboard-btn">
        <%= image_tag 'clipboard_btn_icon.png', alt: 'コピー', class: 'clipboard-btn-icon' %>
      </button>
    </div>
  </div>

  <div class="en-field">
    <div class="en-label">Country</div>
    <div class="lower-en-field">
      <div class="en-address" id='en_country'></div>
      <button class="clipboard-btn">
        <%= image_tag 'clipboard_btn_icon.png', alt: 'コピー', class: 'clipboard-btn-icon' %>
      </button>
    </div>
  </div>
</div>
